body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #333333;
    background-color: #ffffff;
}

.width-100 {
    max-width: 100%;
    height: auto;
}

.without-decoration-remarks {
    text-decoration: none;

    color: #000000;
}

.without-borders-fieldsets {
    border: none;
}

.without-borders-buttons {
    border: none;
    outline: none;
}

.without-transform-legends {
    text-transform: uppercase;
}

.percent-sup {
    font-size: 26px;
    font-weight: bold;
    line-height: 28px;
}

.without-markers li {
    list-style: none;
}

.information-table1 {
    padding-top: 45px;

    text-align: left;
}

.hidden-window {
    display: none;
}

.visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

.button {
    font-weight: 500;
    line-height: 18px;

    padding: 15px 55px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #ffffff;
    border: none;
    border-radius:3px;

    cursor: pointer;
}

.common-header .container {
     margin-bottom: 0;
}

.common-header {
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    padding: 0;

    text-transform: uppercase;

    color: #000000;
    background-color: #cccccc;
    background-image: url('../img/foil.png');
}

.common-header a {
    padding-bottom: 5px;
}

.common-header a:hover {
    color: #ff6666;
}

.common-header a:focus {
    border-bottom: 2px solid #ff6666;
}

.common-header .without-decoration-a-logo:focus {
    border-bottom: none;
}

.common-header a:active {
    color: #999999;
    border-bottom: none;
} 

.container,
.main-services-container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 90px;
}

.common-navigation {
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 50px;

    flex-wrap: wrap;
    align-items: center;
}

.common-navigation img {
    width: 160px;
    margin: 0;
    margin-right: 202px;
    padding: 0;
}

.catalog-navigation img:hover {
    opacity: 0.5;
}

.catalog-navigation img:active {
    opacity: 0.3;
}

.site-navigation {
    display: flex;
    flex-direction: row;

    width: 440px;
    margin: 0;
    margin-right: 243px;
    padding: 0;
    padding-top: 15px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.site-catalog-navigation {
    display: flex;
    flex-direction: row;

    width: 440px;
    margin: 0;
    margin-right: 243px;
    padding: 0;
    padding-top: 2px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.basket-navigation {
    display: flex;
    flex-direction: row;

    width: 115px;
    margin: 0;
    padding: 0;
    padding-top: 15px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-navigation .basket-catalog-navigation {
    margin-top: 2px;
    margin-bottom: 0;
    padding: 0;
}

.basket-navigation .basket-link {
    position: relative;

    display: block;

    margin: 0;
    margin-left: 40px;
    padding: 0;
    padding-bottom: 5px;
}

.basket-link svg {
    position: absolute;
    top: 7px;
    left: -40px;

    opacity: 0.3;
}

.privilege-background {
    margin: 0;
    padding: 0;

    background-color: #cccccc;
    background-image: url('../img/foil.png');
}

.privilege-list {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;
}

.privilege-item {
    display: flex;

    margin: 0;
    padding: 0;
}

.privilege {
    width: 380px;
    margin: 0;
    padding: 0;
    padding-top: 77px;

    background-color: #cccccc;
    background-image: url('../img/foil.png');
}

.slide {
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-left: 51px;
}

.slide img {
    display: block;

    margin: 0;
    padding: 0;
}

.switchers {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 480px;
   
    
    width: 120px;
    height: 30px;

    text-align: center;    
}

.switcher {
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0 7px;

    vertical-align: top;

    cursor: pointer;

    border-radius: 50%;
    background: #ffffff;
}

.switcher1::before {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 4px;
    height: 4px;

    content: '';

    border: 2px solid #cccccc;
    border-radius: 50%;
    background-color: #ffffff;
}

.privilege h3 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    padding-left: 1px;

    color: #000000;
}

.privilege p {
    margin: 0;
    margin-bottom: 51px;
    padding: 0;
    padding-left: 1px;
}

.privilege .button {
    margin-bottom: 55px;
}

.privilege .button {
    background-color: #ff6666;
}

.privilege .button:hover {
    background-color: #ff3333;
}

.privilege .button:active {
    color: #cc9999;
    background-color: #cc3333;
    box-shadow: 0 -3px 1px 0 #a32929;
}

.hidden-window {
    display: none;
}

.services-list { 
    display: flex;

    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-bottom: 80px;

    border-bottom: 2px solid #cccccc;
}

.services-item {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.services-item:nth-child(1),
.services-item:nth-child(2) {
    margin-right: 100px;
}

.services-item:nth-child(3n) {
    margin-right: 60px;
}

.services-item .slogan {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;
    padding-right: 55px;
}

.services-item .button {
    display: block;

    margin: 0;
    margin-top: 13px;
    padding: 16px 40px;
}

.services-item img {
    display: block;

    width: 300px;
    margin: 0;
    margin-top: 63px;
    padding: 0;
}

.services-item .order {
    order: -3;
}

.services-item h3 {
    margin-top: 10px;
    margin-bottom: 16px;

    text-transform: uppercase;
}

.main-services h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.button-web {
    background-color: #ff6666;
}

.button-web:hover {
    background-color: #ff3333;
}

.button-web:active {
    color: #cc9999;
    background-color: #cc3333;
    box-shadow: 0 -3px 1px 0 #a32929;
}

.button-app {
    background-color: #00cc66;
}

.button-app:hover {
    background-color: #00cc66;
}

.button-app:active {
    color: #33cc66;
    background-color: #009966;
    box-shadow: 0 -3px 1px 0 #006644;
}

.button-presentation {
    background-color: #ffcc33;
}

.button-presentation:hover {
    background-color: #ffcc33;
}

.button-presentation:active {
    color: #ffcc66;
    background-color: #cc9933;
    box-shadow: 0 -3px 1px 0 #a37a29;
}

.information {
    display: flex;

    margin-bottom: 50px;
    padding: 0;
}

.information-column-left {
    width: 651px;
    margin: 0;
    margin-top: 9px;
    padding: 0;   
}

.marker-red {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.marker-red li {
    position: relative;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    padding-left: 37px;
}

.marker-red li::before {
    position: absolute;
    top: 50%;
    left: 1px;

    width: 26px;
    height: 2px;

    content: '';

    background-color: #ff6666;
}

.information-column-right {
    display: flex;
    flex-direction: column;

    width: 499px;
    margin: 0;
    margin-top: 21px;
    margin-left: 10px;
    padding: 0;

    align-items: flex-end;
}

.information-column-right-row2 {
    width: 360px;
}

.who-we-are {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    margin-top: 47px;
    margin-bottom: 33px;
    padding-left: 1px;

    color: #000000;
}

.robots {
    margin: 0;
    margin-bottom: 39px;
    margin-left: 1px;
    padding: 0;
}

.orders {
    margin: 0;
    margin-bottom: 21px;
    margin-left: 2px;
    padding: 0;
}

.orders,
.principles {
    font-weight: 700;

    text-transform: uppercase;

    color: #000000;
}

.principles {
    margin: 0;
    margin-top: 29px;
    padding: 0;
    padding-left: 17px;
}

.information-table1 {
    margin-top: 8px;
}

.percent-table td {
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;

    padding-right: 18px;
    padding-bottom: 17px;

    color: #000000;
}

.definition-table td {
    line-height: 18px;
}

.pages-list {
    font-weight: 500;
    line-height: 18px;

    display: flex;

    width: 445px;
    margin: 0;
    margin-top: 60px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0;

    text-transform: uppercase;

    color: #000000;

    flex-wrap: wrap;
}

.pages-item {
    margin-right: 10px;
}

.pages-item a,
.pages-item-last a {
    border-radius: 3px;
}

.pages-item-last {
    margin-right: 0;
}

.pages-item-last a {
    display: block;

    padding: 13px 75px;

    color: #000000;
    border: 3px solid #cccccc;
    background-color: #cccccc;
}

.pages-item a {
    display: block;

    padding: 13px 18px;

    color: #000000;
    border: 3px solid #cccccc;
    background-color: #cccccc;
}

.current-item a {
    padding: 13px 18px;

    border: solid 3px #cccccc;
    background-color: #ffffff;
    background-image: none;
}

.pages-list a:hover {
    color: #000000;
    outline: none;
    background-image: none;
}

.pages-list a:active {
    box-shadow: 0 -3px 1px 0px  #808080;
    color: #999999;
    outline: none;
    background-image: none;
}

.write-us-form {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: flex;
   

    box-sizing: border-box;
    width: 960px;
    height: 590px;
    margin: 0;
    margin-top: -295px;
    margin-left: -480px;
    margin-left: -435px;
    padding-right: 90px;
    padding-left: 100px;
    padding-top: 1px;
    padding-bottom: 1px;

    border: none;
    background-color: #ffffff;
    box-shadow: 0 15px 20px 10px rgba(0,0,0, 0.45);

    flex-wrap: wrap;
}

.write-us-form label {
    font-weight: 500;
    line-height: 18px;

    display: block;

    margin-bottom: 9px;
}

.write-us-form-flex1 {
    display: flex;
   
    width: 960px;
    margin: 0;
    margin-top: 67px;
    margin-bottom: 26px;
    padding: 0;

    flex-wrap: wrap;
}

.write-us-form-flex1 button {
    display: block;

    margin: 0;

    padding: 0;

    opacity: 0.3;
    border: none;
    background-color: #ffffff;
}

.write-us-form-flex1 button:hover {
    opacity: 1;
}

.write-us-form-flex1 button:active {
    opacity: 0.2;
}

.write-us-form-flex1 h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    margin: 0;
    margin-right: 437px;
   
    padding: 0;
}

.write-us-form-flex2 {
    display: flex;

    width: 960px;

    flex-wrap: wrap;
}

.write-us-form-flex2 .form-item1 {
    width: 360px;
    margin-right: 40px;
}

.form-item1 input,
.form-item2 input,
.form-item3 textarea {
    border: 2px solid #e6e6e6;
    outline: none;
}

.form-item1 input:hover,
.form-item2 input:hover,
.form-item3 textarea:hover {
    border-color: #cccccc;
    outline: none;
}

.form-item1 input:focus,
.form-item2 input:focus,
.form-item3 textarea:focus {
    border-color: #000000;
    outline: none;
}

.form-item1 input:active,
.form-item2 input:active,
.form-item3 textarea:active {
    border-color: #ff3333;
    outline: none;
}

.write-us-form-flex2 .form-item2 {
    width: 360px;
}

.write-us-form-flex2 input {
    box-sizing: border-box;
    width: 360px;

    border-width: 2px;
}

.form-item1 input,
.form-item2 input {
    padding-top: 14px;
    padding-right: 195px;
    padding-bottom: 14px;
    padding-left: 13px;
}

.form-item3 textarea {
    padding-top: 12px;
    padding-bottom: 85px;
    padding-left: 14px;

    max-width: 100%;
    width: 740px;

    resize: none;

    overflow: auto;
}

.write-us-form-flex2 .button {
    display: block;

    width: 260px;
    margin-top: 24px;
    margin-bottom: 84px;

     background-color: #ff6666;
}

.logos {
    display: flex;

    margin: 0;
    margin-bottom: 81px;
    padding: 0;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 37px;
    padding-left: 0;

    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;

    align-items: center;

    flex-wrap: wrap;
}

.logos a {
    display: block;
}

.logos li {
    margin: 0;
    padding: 0;
}

.logos .html-logo {
    margin-top: 60px;
    margin-left: 31px;

    opacity: 0.2;
}

.logos .borodinski-logo {
    margin-top: 45px;
    margin-left: 95px;

    opacity: 0.2;
}

.logos .pink-logo {
    margin-top: 45px;
    margin-left: 103px;

    opacity: 0.2;
}

.logos .mishka-logo {
    margin-top: 52px;
    margin-left: 123px;

    opacity: 0.2;
}

.logos li:nth-child(-n+3) {
    position: relative;
}

.logos li:hover {
    opacity: 1;
}

.logos li:active {
    opacity: 0.1;
}

.logos li:nth-child(-n+3)::after {
    position: absolute;

    width: 2px;
    height: 52px;

    content: '';

    background-color: #cccccc;
}

.logos li:nth-child(1)::after {
    top: 4px;
    left: 248px;
}

.logos li:nth-child(2)::after {
    top: 20px;
    left: 253px;
}

.logos li:nth-child(3)::after {
    top: 2px;
    left: 241px;
}

.about-us {
    height: 416px;

    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0;

    background: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-down {
    max-width: 1160px;
    margin: 0 auto;
}

.flex {
    display: flex;

    justify-content: flex-end;
}

.address {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 319px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 64px;
    padding-top: 1px;
    padding-right: 50px;
    padding-bottom: 1px;
    padding-left: 50px;

    border-radius: 5px;
    background-color: #ffffff;

    flex-wrap: wrap;
}

.map-marker {
    margin: 0;
    margin-top: 89px;
    margin-right: 269px;
    margin-left: 361px;
    padding: 0;
}

.address p {
    font-size: 16px;
    line-height: 18px;
}

.address .p1 {
    margin-bottom: 2px;
    padding-left: 2px;

    color: #666666;
}

.address .p2  {
    margin-bottom: 37px;
    padding-left: 2px;

    color: #666666;
}

a.without-decoration-aa,
a.without-decoration-aa:link,
a.without-decoration-aa:visited{
    color: #666666;
    text-decoration: none;
}

.trademark {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    margin-top: 55px;
    margin-bottom: 13px;
    padding-left: 2px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #000000;
}

.address .button {
    display: block;

    margin: 0;
    margin: 0 auto;
    margin-bottom: 45px;
    padding: 0;
    padding: 16px 44px;

    background-color: #ff6666;
}

.common-footer .offer {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 6px;
}

.common-footer {
    margin: 0;
    padding: 0;
}

.common-footer .discount {
    line-height: 22px;

    margin: 0;
    padding: 0;
    padding-left: 7px;
}

.contacts-social {
    display: flex;
    flex-direction: row-reverse;

    margin: 0;
    margin-top: 5px;
    margin-bottom: 70px;
    padding: 0;

    justify-content: flex-end;
}

.footer-social {
    display: flex;
    flex-direction: row;

    width: 260px;
    margin: 0;
    margin-right: 133px;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
}

.footer-contacts {
    width: 565px;
    margin-bottom: 5px;
}

.social-button {
    display: flex;

    width: 78px;
    height: 78px;

    opacity: 0.5;
    border-radius: 50%;
    background-color: #cccccc;

    align-items: center;
    justify-content: center;
}

.social-button:hover {
    background-color: #ff3333;
}

.social-button:active {
    background-color: #cc3333;
    box-shadow: 0 -3px 1px 0 #961728;
}

.catalog {
    display: flex;

    margin:0;
    padding: 0;

    flex-wrap: wrap;
}

.column-left {
    width: 260px;
    margin: 0;
    margin-right: 140px;
    padding: 0;
    padding-top: 10px;
}

.column-right {
    display: flex;
    flex-direction: column;

    width: 760px;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;
}

.sorting {
    display: flex;

    margin: 0;
    margin-bottom: 55px;
    padding: 0;

    flex-wrap: wrap;
}

.sorting svg {
    width: 11px;
    height: 10px;
}

.catalog-sort-list1 {
    font-size: 14px;
    line-height: 18px;

    display: flex;

    width: 300px;
    margin: 0;
    margin-top: 10px;
    margin-left: 264px;
    padding: 0;

    text-transform: uppercase;

    flex-wrap: wrap;
}

.catalog-sort-list2 {
    font-size: 14px;
    line-height: 18px;

    display: flex;

    width: 40px;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;

    text-transform: uppercase;

    flex-wrap: wrap;
}

.catalog-sort-list1 li {
    margin: 0;
    margin-right: 27px;
    padding: 0;
}

.catalog-sort-list .near-icons-roster {
    margin-right: 0;
}

.catalog-sort-list .icon-down-roster {
    margin-right: 17px;

    opacity: 1;
}

.catalog-sort-list .icon-up-roster {
    margin-right: 0;

    opacity: 0.3;
}

.catalog-sort-list .icon-down-roster:hover,
.catalog-sort-list .icon-up-roster:hover {
    opacity: 0.5;
}

.catalog-sort-list .icon-down-roster:active,
.catalog-sort-list .icon-up-roster:active {
    opacity: 1;
}

.catalog-sort-list1 .black-li {
    color: #000000;
}

.catalog-sort-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    width: 135px;
    margin: 0;
    margin-top: 10px;
    padding: 0;

    text-transform: uppercase;

    color: #000000;
}

.catalog-sort-list li:hover {
    color: #999999;
}

.catalog-sort-list li:active {
    color: #000000;
}

.catalog-list {
    display: flex;

    margin: 0;
    padding: 0;

    flex-wrap: wrap;
}

.catalog-item {
    position: relative;

    display: flex;

    width: 360px;
    margin: 0;
    margin-right: 40px;
    margin-bottom: 27px;
    padding: 0;
}

.catalog-item .small-window {
    position: absolute;
    bottom: 6px;
    left: 0;

    display: none;

    width: 360px;
    height: 232px;
    margin: 0;
    padding: 0;

    background-color: #cccccc;
    background-image: url('../img/foil.png');
}

.catalog-item:hover .small-window {
    display: block;
}

.catalog-item .big-window {
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.catalog-item img {
    margin: 0;
    padding: 0;
}

.catalog-item h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-top: 28px;
    margin-bottom: 14px;

    text-align: center;
    text-transform: uppercase;
}

.catalog-item h3:hover {
    color: #ff6666;
}

.catalog-item h3:active {
    color: #b3b3b3;
}

.catalog-item p {
    line-height: 18px;

    margin-right: 90px;
    margin-bottom: 30px;
    margin-left: 90px;

    text-align: center;

    color: #666666;
}

.catalog-item .button {
    display: block;

    margin: 0 auto;
    padding: 15px 60px;

    background-color: #ff6666;
}

.catalog-item .button:hover {
    background-color: #ff3333;
}

.catalog-item .button:active {
    background-color: #cc3333;
}

.catalog-item .big-window::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 40px;

    content: '';

    opacity: 0.1;
    background-image: url('../img/browser.svg');
    background-repeat: no-repeat;
}

.catalog-item .big-window:hover::before {
    opacity: 1;
}

.catalog-list li:nth-child(2n) {
    margin-right: 0;
}

.catalog-title h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 108px;
    padding-left: 355px;
}

.catalog-title {
    margin: 0;
    padding: 0;
    padding-top: 11px;

    background-color: #cccccc;
    background-image: url('../img/foil.png');
}

.catalog-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-top: 20px;
    margin-left: -1px;
    padding: 0;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #000000;
}

.catalog-sort-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    width: 135px;

    text-transform: uppercase;

    color: #000000;
}

.catalog-form-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 0;

    color: #000000;
}

.catalog fieldset {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.catalog fieldset:nth-child(2) {
    margin-bottom: 25px;
}

.catalog fieldset:nth-child(4) {
    margin-bottom: 32px;
}

.catalog-form-items {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    padding-left: 0;

    list-style: none;

    color: #666666;
}

.form-item {
    margin-bottom: 20px;
    padding-left: 36px;
}

.form-item label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox + label:hover::before,
.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:hover::before {
    opacity: 1;
}

.filter-input-checkbox:checked + label::before {
    position: absolute;
    top: -3px;
    left: -36px;

    width: 27px;
    height: 23px;

    content: '';

    opacity: 0.3;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label::before {
    position: absolute;
    top: -3px;
    left: -36px;

    width: 27px;
    height: 23px;

    content: '';

    opacity: 0.3;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label::before {
    position: absolute;
    top: -3px;
    left: -36px;

    width: 27px;
    height: 27px;

    content: '';

    opacity: 0.3;
    background-image: url('../img/radio-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    position: absolute;
    top: -3px;
    left: -36px;

    width: 27px;
    height: 27px;

    content: '';

    opacity: 0.3;
    background-image: url('../img/radio-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-form-button {
    display: block;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;

    text-align: center;
    vertical-align: middle;

    color: #000000;
    outline: none;
    background-color: #e6e6e6;
}

.catalog-form-button:hover {
    color: #000000;
    outline: none;
    background-color: #cccccc;
}

.catalog-form-button:active {
    color: #999999;
    outline: none;
    background-color: #cccccc;
    box-shadow: 0 -3px 1px 0 #999999;
}

.filter-item {
    width: 260px;
    margin: 0;
    margin: 50px auto;
    padding: 0;

    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
    margin-bottom: 30px;
}

.filter-item legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 17px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    margin-left: 7%;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;

    display: inline-block;
    
    width: 50%;

    text-transform: uppercase;
    vertical-align: middle;
    
}

.price-controls input {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;

    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;

    text-align: center;

    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}