body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    box-sizing: border-box;
   
}



img {
	max-width: 100%;
	height: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

fieldset {
	border:none;
}

button {
	border: none;
	outline: none;
}

legend {
	text-transform: uppercase;
}

sup {
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
}


img {
	max-width: 100%;

	height: auto;
}

.without-markers li {
	list-style: none;
}

.information-table1 {
	padding-top: 45px;
	text-align: left;
}




.hidden-window {
	display: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.button {
    line-height:18px;	
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    padding: 15px 55px;
}




.common-header {
   
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    background-color: #cccccc;
    background-image: url("../img/fon.png");
    text-transform: uppercase;
   
    margin:0;
   
    padding:0;
}




.common-header a:hover {
    color: #ff6666;
}

.common-header a:focus {
	border-bottom: 2px solid #ff6666;
	padding-bottom: 5px;

}

.common-header a:focus:first-of-type {
	border-bottom: none;

}


.common-header a:active {
	color: #999999;
	border-bottom: none;
}

.container,
.main-services-container {
 
	width:1160px;
	margin: 0 auto;
	padding-left: 90px;
	
}




.common-navigation {
 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin:0;
    padding:0;
    padding-top:50px;
  

}	




.common-navigation img {
	width:160px;
	margin:0;
	padding: 0;
	margin-right:202px;
}



.catalog-navigation img:hover {
	opacity: 0.5;
}


.catalog-navigation img:active {
	opacity: 0.3;
}




.site-navigation {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 440px;
    margin:0;
    padding:0;
    margin-right:243px;
    padding-top:15px;

}

.site-catalog-navigation {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 440px;
    margin:0;
    padding:0;
    margin-right: 243px;
    padding-top:2px;

}


.basket-navigation {
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin:0;
    padding:0;
    width: 115px;
    padding-top:15px;

   
}

.catalog-navigation .basket-catalog-navigation {
	padding:0;
	margin-bottom: 0px;
	margin-top:2px;

}

.basket-navigation .basket-link {
    position: relative;
	display: block;
	
	margin:0;
    padding:0;
	margin-left: 40px;
}

.basket-link svg {
	position: absolute;
	top: 7px;
	left: -40px;
	opacity: 0.3;
	
}



.privilege-background {
    margin:0;
    padding:0;
    background-image: url("../img/fon.png"); 
	background-color: #cccccc;
}





.privilege-list {
	display: flex;
	margin:0;
    padding:0;
   
} 


.privilege-item {
	margin:0;
    padding:0;
	display: flex;
	 
	

}


.privilege {
	margin:0;
    padding:0;
    width: 380px;
    background-image: url("../img/fon.png");
	background-color: #cccccc;
	padding-top:77px;
}

.slide {
	margin:0;
	padding:0;
	/*width:780px;*/
	padding-top: 17px;
	padding-left: 52px;
	

}


.slide img {
	display: block;

	margin: 0;
	padding: 0;
}

.privilege h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	margin:0;
    padding:0;
	margin-bottom: 27px;
	padding-left:1px;
}

.privilege p {
	margin:0;
    padding:0;
    padding-left:1px;
	margin-bottom: 51px;
}

.privilege .button {
	margin-bottom: 55px;
}


.privilege .button {
	background-color: #ff6666;
}

.privilege .button:hover {
	background-color: #ff3333;
}

.privilege .button:active {
	background-color: #cc3333;
	color:#cc9999;
}


.hidden-window {
	display:none;
}


.services-list {
	display:flex;
	
	margin: 0;
    padding: 0;
    margin-bottom: 19px;
    padding-bottom:80px;
    border-bottom:2px solid #cccccc;
    
	
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
	
	
	
}

.services-item:nth-child(1),
.services-item:nth-child(2) {
	margin-right: 100px;
}

.services-item .slogan  {
     margin:0;
     padding:0;
     margin-bottom:19px;
    
     
}

.services-item .button {
	display: block;
	margin:0;
	margin-top:13px;
	padding:16px 40px;
}



.services-item  img {
    display: block;
    width: 300px;
    padding:0;
    margin:0;
    margin-top: 63px;
  }

.services-item .order {
	order:-3;
}


.services-item h3 {
	margin-bottom: 16px;
	margin-top: 10px;
	text-transform: uppercase;
}




.main-services h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;

}



.button-web {
    background-color: #ff6666;	
}

.button-web:hover {
	background-color: #ff3333;
}

.button-web:active {
	background-color: #cc3333;
	color: #cc9999;
}

.button-app {
	background-color: #00cc66;
}

.button-app:hover {
	background-color: #00cc66;
}

.button-app:active {
	background-color: #009966;
	color:#33cc66;
}

.button-presentation {
	background-color: #ffcc33;
}

.button-presentation:hover {
	background-color: #ffcc33;
}

.button-presentation:active {
	background-color: #cc9933;
	color: #ffcc66;
}

.information {
	display: flex;
	margin-bottom: 50px;
	padding: 0;
	
}

.information-column-left {
	width: 651px;
	margin:0;
	padding: 0;
	margin-top:10px;
	
	
	
}

.marker-red {
	display: flex;
	flex-direction: column;
	margin:0;
	padding: 0;
	
}

.marker-red li {
	position: relative;
	margin:0;
	padding: 0;
    padding-left: 37px;
    margin-bottom:24px;
	
	
}

.marker-red li::before {
	position: absolute;
	content: "";
	top:50%;
	left: 1px;
	background-color: #ff666666;
	width: 26px;
	height: 2px;
}



.information-column-right {
 
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
	width: 499px;
    margin:0;
	padding: 0;
	margin-top:23px;
	margin-left: 10px;
	
	
}

.information-column-right-row2 {
	
	width: 360px;
}




.who-we-are {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
	margin-top: 47px;
	margin-bottom:33px;
	padding-left:1px;

}

.robots {
	margin:0;
	padding:0;
	margin-left:1px;
	margin-bottom:39px;
}

.orders {
	margin:0;
	margin-left: 2px;
	padding:0;
	margin-bottom: 21px;
	
}

.orders,
.principles {
  	color:#000000;
	font-weight: 700;
	text-transform: uppercase;
}

.principles {
	margin:0;
	padding:0;
	margin-top:29px;
	padding-left:17px;

}



.information-table1 {
	margin-top:8px;
	
}


 .percent-table td {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 17px;
	padding-right: 18px;

}

.definition-table td {
	line-height: 18px;
}

.pages-list {
	display: flex;
	flex-wrap: wrap;
    margin-top:60px;
	line-height: 18px;
	font-weight: 500;
	color:#000000;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	width: 445px;
    margin-top: 25px;
    margin-bottom: 30px;
	

	
}

.pages-item {
	margin-right:10px;
    

}

.pages-item-last {
	margin-right: 0;
}

.pages-item-last a { 
  display: block;
  color: #000000;
  background-color: #cccccc;
  background-image: url("../img/fon.png");
  padding:16px 78px;
}

.pages-item a  {
	display:block;
	padding: 16px 21px;
	color:#000000;
	background-color: #cccccc;
	background-image: url("../img/fon.png");
	
}

.current-item a {
	
	border: solid 3px #cccccc;
	background-color: #ffffff;
	padding:13px 18px;
	background-image: none;
}


.pages-list a:hover {
	background-image: none;
	color:#000000;
	outline: none;
}

.pages-list a:active {
	background-image: none;
	color:#999999;
	box-shadow: 0px -3px 1px 0px #999999;
	outline: none;
	
}







.write-us-form {
	display: flex;
	flex-wrap: wrap;
    position: fixed;
	margin:0;
	margin-left: -480px;
	
	padding: 0;
	
	left:50%;
	top:75px;
	width: 960px;
	flex-direction: column;
	background-color: #ffffff;
	border: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
	
}





.write-us-form label {
	line-height: 18px;
	font-weight: 500;
    margin-bottom:9px;
	display:block;
	
	
}


.write-us-form-flex1 {
	width: 960px;
	display: flex;
	flex-wrap: wrap;
	
	margin:0;
	padding: 0;
	margin-top: 67px;
	margin-bottom: 26px;

}

.write-us-form-flex1 button {
	display: block;
    margin:0;
    border:none;
	padding: 0;
	background-color: #ffffff;
	opacity: 0.3;
	
}



.write-us-form-flex1 button:hover {
	
	opacity: 1;
	
}

.write-us-form-flex1 button:active {
	
	opacity: 0.2;
	
}



.write-us-form-flex1 h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin:0;
	padding: 0;
	margin-left: 100px;
	margin-right: 440px;
}




.write-us-form-flex2 {
	width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}




.write-us-form-flex2 .form-item1 {


	margin-left:100px;
    width: 360px;

}



.form-item1 input,
.form-item2 input,
.form-item3 textarea {
    outline: none;               
	border: 2px solid #e6e6e6;
}

.form-item1 input:hover,
.form-item2 input:hover,
.form-item3 textarea:hover {

    outline: none;               
	border-color: #cccccc;
}

.form-item1 input:focus,
.form-item2 input:focus,
.form-item3 textarea:focus {
    outline: none;               
	border-color: #000000;
}

.form-item1 input:active,
.form-item2 input:active,
.form-item3 textarea:active {
    outline: none;             
	border-color: #ff3333;
}


.write-us-form-flex2 .form-item2 {
	margin-right:100px;
	width: 360px;

}

.write-us-form-flex2 .form-item3 {
	/*width:100%;*/
	margin-right: 100px;
	margin-left: 100px;
	

}


.write-us-form-flex2 input {
	box-sizing: border-box;
	width: 360px;
	border-width: 2px;
	
}


.form-item1 input,
.form-item2 input {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 13px;
	padding-right: 195px;
}



.form-item3 textarea {
	/*width: 740px;
	height: 30px;*/
	padding-top: 12px;
	padding-bottom: 85px;
	padding-left: 14px;
    
	

}

.write-us-form-flex2 .button {
	display: block;
	background-color: #ff6666;
	margin-left:100px;
	width: 260px;
	margin-top:24px;
	margin-bottom: 84px;
	
}

.logos {
	display: flex;
	
	align-items:center;
	margin:0;
	padding:0;
	padding-top: 0px;

	padding-bottom:20px;
	margin-bottom:78px;
	border-top:2px solid #e6e6e6;
	border-bottom:2px solid #e6e6e6;
	
	padding-right:40px;
	padding-left:0px;
	
}



.logos a {
	display: block;

}



.logos li {
	margin:0;
	padding:0;
	
	
	
	
}


.logos .html-logo {
    margin-top:55px;
    margin-left:27px;
    opacity: 0.2;
}


.logos .borodinski-logo {
	margin-top:26px;
	margin-left: 82px;
	opacity: 0.2;
	
}

.logos .pink-logo {
	margin-top:40px;
	margin-left:88px;
	opacity: 0.2;
}

.logos .mishka-logo {
	margin-top:37px;
	margin-left:115px;
	opacity: 0.2;
}

.logos li:nth-child(-n+3) {
	position:relative;
	 
}

.logos li:hover {
	opacity: 1;
}


.logos li:active {
	opacity:0.1;
}

.logos li:nth-child(-n+3)::after {

   position: absolute;
   content: "";
   width: 2px;
   height: 52px;
   background-color: #cccccc;
   
}

.logos li:nth-child(1)::after {
   
   top:9px;
   left:252px;
}

.logos li:nth-child(2)::after {
   
   top:24px;
   left:263px;
}

.logos li:nth-child(3)::after {
   
   top:9px;
   left:248px;
}






.about-us {
	/*position: relative;*/
	background: url("../img/map.jpg") no-repeat center;
	/*margin:0;
	padding:0;*/
	margin-top:30px;
	margin-bottom:33px;

}

.down-container {
	width: 1160px;
	margin:0 auto;
	
}


.address {
    /*position: absolute;*/
	width: 319px;
	/*height: 308px;*/
	background-color: #ffffff;
	
	padding:0px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
	margin-left:140px;
	margin-top:54px;
	margin-bottom: 59px;
	
	/*top:54px;
	left:140px;*/
	

}

.map-marker {
	
	padding:0;
	margin: 0;
	margin-top: 54px;
	margin-left: 361px;
	margin-top: 88px;
	/*position: absolute;
	top:73px;
	left:820px;*/

}

.map-address-marker {
	display: flex;
	
	

}


.address p {
	font-size: 16px;
	line-height: 18px;
	margin-left: 50px;

}

.address .p1 {
	margin-bottom:19px;
	padding-left:1px;
	color:#666666;

}

.address .p2 {
	margin-bottom: 37px;
	padding-left:1px;
	
	color:#666666;
}

.trademark {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	margin-top: 55px;
	margin-bottom: 28px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left:1px;
	

}

.address .button {
    display: block;
	background-color: #ff6666;
	margin:0 auto;
	margin-bottom: 47px;
	
	padding:16px 44px;
	
}



.common-footer .offer {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	margin:0;
	padding:0;
	padding-left: 6px;
	padding-top: 35px;
	padding-bottom: 10px;

}

.common-footer {
	margin:0;
	padding:0;
}

.common-footer .discount {
	line-height: 22px;
	margin:0;
	padding:0;
	padding-left: 7px;
}

.contacts-social {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	/*align-items: baseline;*/
	margin: 0;
	margin-bottom: 70px;
	padding:0;
	margin-top: 5px;
	
	
}

.footer-social  {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-end;
	margin: 0;
	padding:0;
    margin-right:133px;

	width: 260px;
	

	

	
}






.footer-contacts {
	width: 565px;
	
	
	margin-bottom: 5px;
	
	
}

.social-button  {
	display:flex;
	align-items: center;
    justify-content: center;
	width: 78px;
	height: 78px;
	background-color: #cccccc;
	border-radius: 50%;
	opacity:0.5;
	
}

.social-button:hover {
	background-color: #ff3333;
}

.social-button:active {
	background-color: #cc3333;
}

.social-button:active path {
	fill: #cc6666;
}

.catalog {
	display: flex;
	flex-wrap: wrap;
}

.column-left {
	width: 260px;
	margin:0;
	padding:0;
	padding-top: 10px;
	margin-right:140px;
	
}

.column-right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 760px;
	margin:0;
	padding:0;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0;
	padding: 0;
	margin-bottom: 55px;
	
}


.sorting svg {
	width: 11px;
	height: 10px;
}




.catalog-sort-list {
	display:flex;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 18px;
	/*box-shadow: 0 0 0 3px green;*/
    text-transform: uppercase;
	width: 363px;
	padding:0;
	margin:0;
	margin-top:10px;

}

.catalog-sort-list li {
    margin:0;
    padding:0;
	margin-right: 27px;
	

}

.catalog-sort-list .near-icons-li {
	margin-right: 49px;
}

.catalog-sort-list .icon-down-dir {
	margin-right:17px;
	opacity: 0.3;
}

.catalog-sort-list .icon-up-dir {
	margin-right:0;
	
	opacity: 0.3;

}

.catalog-sort-list .icon-down-dir:hover,
.catalog-sort-list .icon-up-dir:hover {

   opacity: 0.5;
}


.catalog-sort-list .icon-down-dir:active,
.catalog-sort-list .icon-up-dir:active {

   opacity: 1;
}




.catalog-sort-list li:first-child {
    
	color:#000000;
}

.catalog-sort-title  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
	width: 135px;
	margin:0;
	padding: 0;
	margin-top:10px;
}






.catalog-sort-list li:hover {
	color:#999999;
}

.catalog-sort-list li:active {
	color:#000000;
}





.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
    margin: 0;
}

.catalog-item {
	position: relative;
	display: flex;
	width:360px;
	padding:0;
	margin:0;
	margin-right: 40px;
	margin-bottom: 27px;
	
}

.catalog-item .small-window {
	position: absolute;
	width:360px;
	height: 232px;
	background-color: #cccccc;
	background-image: url("../img/fon.png");
	padding:0;
	margin:0;
	left:0;
	bottom: 6px;
}

.catalog-item .big-window {
	position:relative;
    padding: 0;
	margin:0;
	padding-top: 40px;
	

}

.catalog-item img {
	padding: 0;
	margin:0;
	
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
    text-align: center;
    margin:0;
    margin-bottom: 14px;
    margin-top:28px;

}

.catalog-item h3:hover {
	color:#ff6666;
}

.catalog-item h3:active {
	color:#b3b3b3;
}

.catalog-item p {
	line-height: 18px;
	color:#666666;
	text-align: center;
    margin-right: 90px;
    margin-left:90px;
    margin-bottom:30px;

}

.catalog-item .button {
	display: block;
	background-color: #ff6666;
	margin:0 auto;
	padding:15px 60px;


}


.catalog-item .button:hover {
	background-color: #ff3333;
}

.catalog-item .button:active {
	background-color: #cc3333;
}


.catalog-item .big-window::before {
	position: absolute;
	content: "";
	width: 360px;
	height: 40px;
	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	opacity: 0.1;
}


.catalog-list li:nth-child(2n) {
    margin-right: 0;
  
}

.catalog-title h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	margin:0;
	padding: 0;
	padding-bottom:108px;
	padding-top:55px;
	margin-bottom: 50px;
	

}

.catalog-title {
	background-color: #cccccc;
	background-image: url("../img/fon.png");
	margin:0;
	padding: 0;
	padding-top: 11px;


}



.catalog-price  {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin:0;
  	padding: 0;
  	margin-top:20px;
  	
}



.catalog-sort-title  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
	width: 135px;
}






.catalog-form-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;

	margin-bottom: 0px;

}

.catalog fieldset {
	margin:0px;
	padding: 0px;
	margin-bottom: 27px
}


.catalog fieldset:nth-child(2) {
	
	margin-bottom: 25px
}


.catalog fieldset:last-child {
	margin-bottom: 51px;
}

.catalog-form-items {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #666666;
	list-style: none;
	padding-left: 0;



}

.form-item {
	margin-bottom:20px;
	padding-left:36px;


}



.form-item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}



.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox + label:hover::before,
.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:hover::before {

	opacity: 1;
}




.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;
  
  top:-3px;
  left: -36px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;
  
 
  top:-3px;
  left: -36px;
 
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 27px;
 
  
  top:-3px;
  left: -36px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 27px;
  
 
  top:-3px;
  left: -36px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}






.catalog-form-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#000000;
	background-color: #e6e6e6;
	
	outline: none;
	text-align: center;
	vertical-align: middle;
	width:260px;
	padding-bottom: 16px;
	padding-top: 16px;
}



.catalog-form-button:hover {
	background-color: #cccccc;
	color:#000000;
	outline: none;
}

.catalog-form-button:active {
	background-color: #cccccc;
	color:#999999;
	box-shadow: 0px -3px 1px 0px #999999;
	outline: none;
	
}



















.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  /* Для демонстрации */
  width: 260px;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
 
  margin-bottom: 30px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;

}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {


  text-align: right;
}
