body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  
}


a {
  text-decoration: none;
  color: #000000;
}

fieldset {
	border:none;
}

button {
	border: none;
}

legend {
	text-transform: uppercase;
}

.without-markers li {
	list-style: none;
}

.information-table1  {
	padding-top: 45px;
	text-align: left;
}




.hidden-window {
	display:none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}


.button {
  line-height:18px;	
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}




.common-header {
   
   line-height: 30px;
   font-weight: 500;
   color: #000000;
   background-color: #cccccc;
   text-transform: uppercase;
   justify-content: center;
   margin:0;
   padding:0;
}




.common-header a:hover {
    color: #ff6666;
}

.common-header a:focus {
	border-bottom: 2px solid #ff6666;
	padding-bottom: 5px;

}

.common-header a:active {
	color: #999999;
	border-bottom: none;
}

.container {
	width:1160px;
	margin: 0 auto;
}



.common-navigation {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin:0;
   padding:0;
}	

.common-navigation img {
	width:160px;
}

.site-navigation {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 440px;
    margin:0;
   padding:0;

}

.basket-navigation {
	margin:0;
   padding:0;
	width:140px;
}

.privilege-background {
	background-color: #cccccc;
}

.privilege-list {
	display: flex;
}

.privilege-item {
	display: flex;
}


.privilege {
    width: 380px;
	background-color: #cccccc;
}

.slide {
	
	width:780px;
}

.privilege h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.privilege .button {
	background-color: #ff6666;
}

.privilege .button:hover {
	background-color: #ff3333;
}

.privilege .button:active {
	background-color: #cc3333;
	color:#cc9999;
}

.services-list {
	display:flex;
	justify-content: space-between;
	margin: 0;
    padding: 0;
    margin-bottom: 85px;
	
}

.services-item {
	width: 300px;
	
}

.main-services h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;

}

.button-web {
    background-color: #ff6666;	
}

.button-web:hover {
	background-color: #ff3333;
}

.button-web:active {
	background-color: #cc3333;
	color: #cc9999;
}

.button-app {
	background-color: #00cc66;
}

.button-app:hover {
	background-color: #00cc66;
}

.button-app:active {
	background-color: #009966;
	color:#33cc66;
}

.button-presentation {
	background-color: #ffcc33;
}

.button-presentation:hover {
	background-color: #ffcc33;
}

.button-presentation:active {
	background-color: #cc9933;
	color: #ffcc66;
}

.information {
	display: flex;
	
	padding: 0;
	margin-top: 10px;
}

.information-column-left {
	width: 650px;
	margin:0;
	padding: 0;
	
}

.information-column-right
 {
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
	width: 500px;
    margin:0;
	padding: 0;
	
}

.information-column-right-row2 {
	
	width: 360px;
}



.who-we-are {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.orders,
.principles
 {
 	color:#000000;
	font-weight: 700;
}

 .percent-table td{
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 30px;
}

.definition-table td{
	line-height: 18px;
}

.pages {
	display: flex;
     justify-content: space-between;
	line-height: 18px;
	font-weight: 500;
	color:#000000;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	width: 440px;
	margin-right: 10px;
	
}

.logos {
	display: flex;
	justify-content: space-between;
	margin:0;
	padding:0;
}

.address p {
	font-size: 18px;
	line-height: 18px;

}

.trademark {
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.address .button {
	background-color: #ff6666;
}

.common-footer .offer {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.common-footer .discount {
	line-height: 22px;
}

.contacts-social {
	display: flex;
	flex-direction: row-reverse;
	
	align-items: baseline;
	margin: 0;
	padding:0;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding:0;
	padding-right: 15px;
	width: 260px;
	
}



.footer-contacts {
	width: 545px;
	margin-right: 180px;
	margin-left: 140px;
}

.catalog {
	display: flex;
}

.column-left {
	width: 260px;
}

.column-right {
	display: flex;
	flex-direction: column;
	width: 760px;
}

.sorting {
	display: flex;
	justify-content: space-between;
}

.catalog-sort-list {
	display:flex;
	justify-content: space-between;
	width: 360px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
    margin: 0;
}

.catalog-item {
	width:360px;
	padding:0;
	margin:0;
	margin-right: 40px;
	margin-bottom: 40px;
}

.catalog-list li:nth-child(2n) {
  margin-right: 0;
  
}

.catalog-title h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	margin:0;
	padding: 0;

}

.catalog-title {
	background-color: #cccccc;
	margin:0;
	padding: 0;

}



.catalog-price h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;

}

.catalog-price {
	min-height: 260px;
	/*сделано временно, для сетки, пока нет контента*/
}

.catalog-sort-title  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
	width: 135px;
}




.catalog-sort li {
	font-size: 14px;
	line-height: 18px;
	color:#cccccc;
	text-transform: uppercase;
}

.catalog-sort li:hover {
	color:#999999;
}

.catalog-sort li:active {
	color:#000000;
}

.catalog-form-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;
}

.catalog-form-items {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #333333;
	list-style: none;
	padding-left: 0;



}

.catalog-form-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#333333;
	background-color: #cccccc;
	border:none;
	text-align: center;
	vertical-align: middle;
}


