body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;


  
}

a {
  text-decoration: none;
  color: #000000;
}

fieldset {
	border:none;
}

button {
	border: none;
}

legend {
	text-transform: uppercase;
}

li {
	list-style: none;
}

.hidden-window {
	display:none;
}

.visually-hidden {
	display: none;
}

.button {
  line-height:18px;	
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}



.common-header {
   line-height: 30px;
   font-weight: 500;
   color: #000000;
   background-color: #cccccc;
   text-transform: uppercase;
}




.common-header a:hover {
    color: #ff6666;
}

.common-header a:active {
	color: #999999;
}

.common-header a:focus {
	border-bottom: 2px solid #ff6666;
	padding-bottom: 5px;
	
}

.privileges {
	background-color: #cccccc;
}

.privileges h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.privileges .button {
	background-color: #ff6666;
}

.privileges .button:hover {
	background-color: #ff3333;
}

.privileges .button:active {
	background-color: #cc3333;
	color:#cc9999;
}

.main-services h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;

}

.button-web {
    background-color: #ff6666;	
}

.button-web:hover {
	background-color: #ff3333;
}

.button-web:active {
	background-color: #cc3333;
	color: #cc9999;
}

.button-app {
	background-color: #00cc66;
}

.button-app:hover {
	background-color: #00cc66;
}

.button-app:active {
	background-color: #009966;
	color:#33cc66;
}

.button-presentation {
	background-color: #ffcc33;
}

.button-presentation:hover {
	background-color: #ffcc33;
}

.button-presentation:active {
	background-color: #cc9933;
	color: #ffcc66;
}


.information p:nth-of-type(1) {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.information p:nth-of-type(4),
.information p:nth-of-type(5)
 {
 	color:#000000;
	font-weight: 700;
}

 .percent-table td{
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000000;
}

.definition-table td{
	line-height: 18px;
}

.pages {
	line-height: 18px;
	font-weight: 500;
	color:#000000;
	text-transform: uppercase;
	
}

.address p {
	font-size: 18px;
	line-height: 18px;

}

.address p:nth-child(1) {
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.address .button {
	background-color: #ff6666;
}

.common-footer .offer {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.common-footer .discount {
	line-height: 22px;
}

.catalog-title h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;

}

.catalog-title {
	background-color: #cccccc;

}



.catalog-price h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
}

.catalog-sort-title  {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color:#000000;
	text-transform: uppercase;
}




.catalog-sort li {
	font-size: 14px;
	line-height: 18px;
	color:#cccccc;
	text-transform: uppercase;
}

.catalog-sort li:hover {
	color:#999999;
}

.catalog-sort li:active {
	color:#000000;
}

.catalog-form-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color:#000000;
}

.catalog-form-items {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #333333;
	list-style: none;

}

.catalog-form-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color:#333333;
	background-color: #cccccc;
	border:none;
	text-align: center;
	vertical-align: middle;
}

